<% if !!flash[:message] %><div class="flash"><%=flash[:message]%></div><br><% end %>
<h1><%=@user.character_name%></h1>
<% if belongs_to(@user) %><a href='/users/<%=@user.id%>/edit'>Edit Character</a><% end %><br><br>
<p><b>Description:</b> <%=@user.description%></p>
<p><b>Bio:</b> <%=@user.bio%></p>
<h3> Personal Equipment and Notes <% if belongs_to(@user) %> - <a href='/goods/new'>Add New Equipment</a> | <a href='/notes/new'>Add New Notes</a><% end %></h3>
<div class="row">
<div class="column">
<p><b>Equipment:</b>
<% if @goods.empty? %>
    <p>No Equipment Added</P>
<% else %>
    <ul>
    <% @goods.each do |good| %>
        <li><div class="editdel"><%="#{good.quantity} #{good.name}"%>
        <% if belongs_to(@user) %>
                <form action="/goods/<%=good.id%>/edit" method="get"><input type="submit" value="Edit"></form>
                <form action="/goods/<%=good.id%>" method="post"><input type="hidden" name="_method" value="delete"><input type="submit" value="Delete"></form> 
        <%end%></div></li>
    <% end %>
<% end %></ul></p>
<p><b>Notes:</b><% if belongs_to(@user) %>  <a href='/notes/new'>Add New Notes</a><% end %>
<% if @notes.empty? %>
    <p>No Notes Added</P>
<% else %>
    <ul>
    <% @notes.each do |note| %>
        <li><div class="editdel"><%=note.content%>
        <% if belongs_to(@user) %><form action="/notes/<%=note.id%>/edit" method="get"><input type="submit" value="Edit"></form>
        <form action="/notes/<%=note.id%>" method="post"><input type="hidden" name="_method" value="delete"><input type="submit" value="Delete"></form><%end%></div></li>
    <% end %>     
<% end %></ul></p>
</div>
<div class="column">
<% if belongs_to(@user) %>
<% if !@secret_goods.empty? %>
<p><b>Secret Equipment:</b>
    <ul>
    <% @secret_goods.each do |good| %>
        <li><div class="editdel"><%="#{good.quantity} #{good.name}"%>
        <form action="/goods/<%=good.id%>/edit" method="get"><input type="submit" value="Edit"></form>
        <form action="/goods/<%=good.id%>" method="post"><input type="hidden" name="_method" value="delete"><input type="submit" value="Delete"></form></div></li>
    <% end %>
</ul></p>
<% end %>

<% if !@secret_notes.empty? %>
<p><b>Secret Notes:</b><ul>
    <% @secret_notes.each do |note| %>
        <li><div class="editdel"><%=note.content%>
        <form action="/notes/<%=note.id%>/edit" method="get"><input type="submit" value="Edit"></form>
        <form action="/notes/<%=note.id%>" method="post"><input type="hidden" name="_method" value="delete"><input type="submit" value="Delete"></form></div></li>
    <% end %>     
</ul></p>
<% end %>
<% end %> 
</div>
</div>

